
:global([data-theme="light"]) .loadingText {
  color: var(--foreground);
}

:global([data-theme="light"]) .searchContainer input {
  background-color: whitesmoke;
  color: var(--foreground);
}

:global([data-theme="light"]) .pageContainer {
  background-image: url("/bcg-invert.png");
}

.pageContainer {
  min-height: 100vh;
  padding: 2rem; /* more breathing room */
  overflow-x: hidden; /* prevent horizontal scroll */
  overflow-y: auto; /* enable vertical scroll if content overflows */
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space between children like title and contentWrapper */
  background-image: url("/bcg.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.contentWrapper {
  display: flex;
  margin-bottom: 6rem;
}

.itemsContainer {
  position: relative;
  width: 85%;
  margin: 0 auto;
  border-radius: 0.75rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  place-items: baseline;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.total {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #edbe68;
  color: #141923;
  padding: 0.3rem;
  border-radius: 18px;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loadingContainer {
  background-color: transparent; /* bg-gray-100 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.loadingText {
  font-size: 1.25rem; /* text-xl */
  /* text-gray-800 */
}

.errorContainer {
  background-color: #fee2e2; /* bg-red-100 */
}

.errorText {
  font-size: 1.25rem; /* text-xl */
  color: #b91c1c; /* text-red-700 */
}

.searchContainer {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
}

.searchContainer input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  outline: none;
  transition: border 0.2s;
  background-color: #2d3748;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.searchContainer input:focus {
  border-color: #6c9cc6;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.1);
}

.file {
  background-color: #3c495f; /* tailwind gray-700 */
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.95rem;
  color: #cbd5e0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  word-break: break-word;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
}

.file:hover {
  transform: scale(1.05);
  color: #63b3ed; /* blue-400 */
  box-shadow: 0 0 0 2px #63b3ed;
  background-color: #1a202c; /* dark hover */
  background: linear-gradient(145deg, #2d3748, #1a202c);
}

.time {
  display: block;
  margin-top: 4px;
  font-size: 0.75rem;
  color: #aaa;
}

/*--STYLING FOR MODAL*/

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.modal {
  background-color: #3c495f;
  color: #f1f1f1;
  border-radius: 12px;
  width: 90%;
  max-width: 900px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(113, 111, 111, 0.5);
  border: 1px solid rgb(95, 93, 93);
  transform-origin: center center;
}

/* Animations */
.zoomIn {
  animation: zoomIn 0.3s ease-out forwards;
}
.zoomOut {
  animation: zoomOut 0.3s ease-in forwards;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}

.modalHeader {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
}

.modalTitle {
  margin: 0;
  font-size: 1.25rem;
}

.filename {
  font-size: 0.9rem;
  color: #ccc;
}

.editorContainer {
  flex: 1;
  min-height: 300px; /* <-- Ensures it's visible */
  overflow: hidden;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-top: 1px solid #333;
}

.themeButton {
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: transparent;
  border: 1px solid whitesmoke;
}

.saveButton {
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #67b26f,
    #4ca2cd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  color: whitesmoke;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.saveButton svg {
  margin-left: 10px;
}
.saveButton:hover {
  background-color: #45a043;
  box-shadow: none;
  transform: scale(0.9);
}

.closeButton {
  background-color: #777;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: #666;
}

.folderList {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 150px;
}

.folderItem {
  padding: 0.6rem 1rem;
  background-color: #2d3748; /* dark gray */
  color: #e2e8f0; /* light text */
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.15s ease;
  font-weight: 500;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
}

.folderItem:hover {
  background-color: #4a5568;
  transform: scale(1.02);
}

.folderItem:active {
  background-color: #4a5568;
  transform: scale(0.98);
}

.activeFolder {
  background-color: #718096;
  color: #1a202c;
  box-shadow: rgba(108, 156, 198, 0.5) 4px 4px 8px 0px;
}

/* Responsive padding */
@media (min-width: 640px) {
  /* sm:p-6 */
  .pageContainer {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  /* lg:p-8 */
  .pageContainer {
    padding: 2rem;
  }
}
