.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: #1a202c;

  color: #e2e8f0;
}

.title {
  /* Changed from h1 to class .title */
  color: #63b3ed; /* A brighter, more prominent blue */
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2.5em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.subtitle {
  /* Changed from h2 to class .subtitle */
  color: #a0aec0;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2em;
}

.formGroup {
  margin-bottom: 1rem;
}

.inputContainer {
  flex: 60%;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.formSearch {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.formSearch input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #4a5568;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  outline: none;
  transition: border 0.2s;
  background-color: #2d3748;
}

.formSearch input:focus {
  border-color: #6c9cc6;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.1);
}

.formParsed input {
  border-radius: 8px;
  outline: none;
  border: 1px solid #4a5568;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  transition: border 0.2s;
  /*background-color: #2d3748;*/
}

.formParsed input:focus {
  border-color: aquamarine;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.1);
  color: aquamarine;
}

.formParsed label {
  color: #a0aec0;
}

.loadButton {
  margin-right: 2rem;
  padding: 8px 30px;
  min-width: 60px;
  border-radius: 18px;
  cursor: pointer;
  border: 0;
  background-color: #4299e1;
  color: hsl(0, 0%, 100%);
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.loadButton:hover {
  letter-spacing: 3px;
  background-color: whitesmoke;
  box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.5);
  color: #1a202c;
}

.loadButton:active {
  letter-spacing: 3px;
  background-color: whitesmoke;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  color: #1a202c;
  transform: translateY(2px);
  transition: 100ms;
}

.saveButton {
  margin-right: 2rem;
  margin-top: 1rem;
  padding:8px 30px;
  border-radius: 12px;
  cursor: pointer;
  border: 0;
  background-color: #4299e1;
  color: hsl(0, 2%, 12%);
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.saveButton:hover {
  letter-spacing: 3px;
  background-color: whitesmoke;
  box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.5);
  color: #1a202c;
}

.saveButton:active {
  letter-spacing: 3px;
  background-color: whitesmoke;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  color: #1a202c;
  transform: translateY(2px);
  transition: 100ms;
}

.rawContainer {
  overflow: auto; /* This makes the rawXml content scrollable internally */

  /* Sticky properties */
  position: sticky;
  top: 20px; /* Or whatever offset you prefer from the top of the viewport */

  /* Crucial for flex container issues */
  align-self: flex-start;
}

.rawXml {
  background: #2f2a2a;
  padding: 1rem;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  max-height: 600px;
  overflow: auto;
  color: aquamarine;
}

/*OVDIJE POCINJE TABOVANJE*/

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; /* p-4 */
}

@media (min-width: 640px) {
  /* sm: */
  .container {
    padding: 1.5rem; /* sm:p-6 */
  }
}

@media (min-width: 1024px) {
  /* lg: */
  .container {
    padding: 2rem; /* lg:p-8 */
  }
}

.card {
  width: 100%;
  max-width: 60rem; /* max-w-4xl */
  background-color: #2d3748;
  border-radius: 0.75rem; /* rounded-xl */
  box-shadow: #6c9cc6 0px 7px 29px 0px; /* shadow-lg */
  overflow: hidden;
  margin-bottom: 8rem;
}

.tabNavigation {
  display: flex;

  border-top-left-radius: 0.75rem; /* rounded-t-xl */
  border-top-right-radius: 0.75rem;
}

.tabButton {
  flex: 1; /* flex-1 */
  padding-top: 1rem; /* py-4 */
  padding-bottom: 1rem; /* py-4 */
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  text-align: center;
  font-size: 1.125rem; /* text-lg */
  transition-property: all; /* transition-all */
  transition-duration: 300ms; /* duration-300 */
  border: none;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: 2px;
}

.tabButton:hover {
  color: #6c9cc6;
}

.firstTab {
  border-top-left-radius: 0.75rem; /* rounded-tl-xl */
}

.lastTab {
  border-top-right-radius: 0.75rem; /* rounded-tr-xl */
}

.activeTab {
  background-color: #d1d5db; /* hover:bg-gray-300 */
  /* bg-blue-600 */
  color: #4b5563; /* text-gray-700 */

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
}

.tabPanel {
  padding: 1.5rem; /* p-6 */
  border-radius: 0.5rem; /* rounded-lg */

  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06); /* shadow-inner */
}
