:global([data-theme="light"]) .pageContainer {
  background-image: url("/bcg-invert.png");
  background-color: var(--background);
  transition: all 0.3s ease;
}

:global([data-theme="light"]) .title {
  color: #e7bba7;
}

:global([data-theme="light"]) .form input {
  background-color: whitesmoke;
  border: 3px solid #8f979b;
  color: var(--foreground);
}

:global([data-theme="light"]) .form input:focus {
  border-color: #e7bba7;
}

.pageContainer {
  color: #e2e8f0;
  position: relative;
  background-image: url("/bcg.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex; /* Optional: for centering content */
  flex-direction: column;
  justify-content: center; /* Optional: for centering content */
  align-items: center; /* Optional: for centering content */
  color: white; /* Example: ensure content is visible */
  text-align: center; /* Example */
  z-index: 1; /* Give the container a z-index for its content */
  transition: all 0.3s ease;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}

.title {
  /* Changed from h1 to class .title */
  color: #63b3ed; /* A brighter, more prominent blue */
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.error {
  color: tomato;
  margin-top: 1rem;
  font-size: large;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;
}

.form input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 3px solid #154155;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  outline: none;
  transition: border 0.2s;
}

.form input:focus {
  border-color: #6c9cc6;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.1);
}

.loginButton {
  margin-top: 2rem;
  padding: 17px 40px;
  border-radius: 12px;
  cursor: pointer;
  border: 0;
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #67b26f,
    #4ca2cd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);

  color: hsl(0, 0%, 100%);
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.loginButton:hover {
  letter-spacing: 1px;
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  transform: translateY(5px);
}

.loginButton:active {
  letter-spacing: 3px;
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
