:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #ededed;
  }
}

/* Manual light theme override */
[data-theme="light"] {
  --background: #eae3da;
  --foreground: #000000;
}

/* Manual dark theme override */
[data-theme="dark"] {
  --background: #1a202c;
  --foreground: #ededed;
}

/*#eae3da;*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  letter-spacing: 2px;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background 0.3s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*ADDED FOR STIKCY POSTION*/
  overflow: visible;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*FOR AceEditor */
/*DARK THEME*/
.ace-merbivore-soft .ace_comment {
  color: #86bdcb !important; /* or any custom color */
  font-style: italic;
}

.ace-merbivore-soft .ace_tag {
  color: #f358bc !important; /* or any custom color */
  font-style: italic;
}

.ace-merbivore-soft .ace_text {
  color: #43ec4c !important; /* or any custom color */
  font-style: italic;
}

.ace-merbivore-soft .ace_marker-layer .ace_selected-word {
  background-color: #2d0f97 !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background-color: #1e90ff66 !important; /* dodgerblue with transparency */
}

/*LIGHT THEME*/
.ace-kuroir .ace_comment {
  color: #686079 !important; /* or any custom color */
  font-style: italic;
}
.ace-kuroir .ace_text {
  color: #660c3e !important; /* or any custom color */
  font-style: italic;
  font-weight: bold !important;
}

.ace-kuroir .ace_tag {
  font-weight: bold !important;
  font-style: italic;
}

.ace-kuroir .ace_attribute-value {
  color: #b54204 !important; /* your desired color */
  font-style: italic;
}
