.paginationControls {
  position: fixed;
  bottom: -40px; /* distance from bottom of viewport */
  right: 0;
  z-index: 900;
  background: rgba(255, 255, 255, 0.34);
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.paginationControls span {
  color: var(--foreground);
  text-shadow: 1px 1px #373333;
}

.paginationButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--foreground);
}
.paginationButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationButton svg {
  display: block;
  font-size: 26px;
  text-decoration: none;
  border-radius: 5px;
  color: var(--foreground);
  transition: all 0.4s;
}
