.toggleButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  padding: 0.4rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  background-color: var(--foreground);
  color: var(--background);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.toggleButton:hover {
  opacity: 0.9;
}
